<ion-content [fullscreen]="true" padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-img src="/assets/logo.png"></ion-img>
      </ion-col>
    </ion-row>
   
    <ion-row>
      <ion-col size="12">
        <h4>
          Saiba qual a melhor opção paa abastecimento do seu carro.
        </h4>
      </ion-col>
    </ion-row>
   
    <ion-row>
      <ion-col size="12">
      
        <ion-item>
          <ion-label position ="stacked">Preço Álcool, ex: 3,70</ion-label>
          <ion-input type="number" [(ngModel)]="precoAlcool"></ion-input>
        </ion-item>
        <ion-item>
         <ion-label position ="stacked">Preço Gazolina, ex: 4,30</ion-label>
         <ion-input type="number" [(ngModel)]="precoGasolina"></ion-input>
        </ion-item>

        <ion-button expand ="full" (click) = "calcular()">Calcular</ion-button>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h5 text-ceter>
         {{ resultado }}
        </h5>
      </ion-col>
    </ion-row>


  </ion-grid>

</ion-content>
